In [12]:
import yfinance as yf
import pandas as pd
import os

symbols_df = pd.read_csv('bats_symbols.csv')
tickers = symbols_df['Name'].to_list()
tickers_str = ' '.join(tickers)
print(len(tickers))

567

In [13]:

try:
    os.mkdir('raw_data')

    for ticker in tickers:
        yf_df = yf.download(ticker, start='2021-01-01', end="2021-12-30")
        yf_df.to_csv('raw_data/' + ticker + '.csv')

except FileExistsError:
    pass

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2020-12-31  18.889999  18.940001  18.830000  18.940001  18.940001   282500
2021-01-04  19.330000  19.360001  19.219999  19.350000  19.350000   767800
2021-01-05  19.420000  19.440001  19.309999  19.410000  19.410000   607000
2021-01-06  19.270000  19.270000  18.930000  19.100000  19.100000  1425400
2021-01-07  19.070000  19.100000  18.990000  19.049999  19.049999   330200